$primary-color: black;
$tab-color: #292929; //#428BCA;
$tab-color-active: #434343; //#72badb;

html {
  color: $primary-color;
}

[v-cloak] {
  display: none;
}

.tabs {
  margin-bottom: 20px;

  li {
    &.tab {
      width: 20%;

      a {
        color: $tab-color;

        &:hover, &.active {
          color: $tab-color-active;
        }
      }
    }

    &.indicator {
      background-color: $tab-color-active;
    }
  }
}

#home {
  img#status {
    width: 64px;
    display: inline;
    position: relative;
    top: 10px;
    right: 5px;
    margin-right: 10px;
  }

  h3 {
    display: inline;
  }
}